:root {
    --basic-black: #000000;
    --basic-extra-dark: #283136;
    --basic-dark: #4d4d4d;
    --basic-dark-grey: #444444;
    --basic-neutral: #666666;
    --basic-extra-light: #eeeeee;
    --basic-white: #ffffff;
    --basic-green: #00ca74;
    --basic-yellow: #efc849;
    --special: #fb565a;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* Global start */
body {
    min-width: 1170px;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: var(--basic-extra-dark);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: auto;
}

.button {
    outline: none;
    border: 0px;
    padding: 0px;
    display: inline-block;
}

.wrapper {
    max-width: 1170px;
    margin: 0px auto;
}
/* Global end */

/* Buttons start */
.features__item-link,
.services__item-link,
.contacts__link,
.filter-show__btn,
.product-card__price,
.modal__user-btn {
    background-color: var(--special);
    color: var(--basic-white);
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
}

.gallery__pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--basic-extra-light);
    border-radius: 3px;
    line-height: 51px;
    padding: 0px 20px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
}

.pagination-link--current {
    background-color: transparent;
    border: 3px solid #dbdbdb;
    line-height: 46px;
    width: 50px;
}

.pagination-link--long {
    padding-left: 77px;
    padding-right: 78px;
}

.features__item-link:hover,
.services__item-link:hover,
.product-card__price:hover,
.contacts__link:hover,
.modal__user-btn:hover {
    background-color: #e74246;
    transition-duration: 0.2s;
}

.filter-show__btn:hover,
.gallery__pagination-link:hover {
    background-color: #dfdfdf;
    border-radius: 3px;
    transition-duration: 0.2s;
}

.features__item-link:focus,
.services__item-link:focus,
.contacts__link:focus,
.filter-show__btn:focus,
.modal__user-btn:hover:focus,
.footer__social-link:focus,
.product-card__price:focus,
.gallery__pagination-link:focus {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    transition-duration: 0.2s;
}

.filter-show__btn:focus,
.gallery__pagination-link:focus {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
}

.gallery__pagination-link:active {
    color: var(--basic-black);
    background-color: transparent;
    border: 3px solid #dbdbdb;
    line-height: 46px;
    width: 50px;
    box-shadow: none;
}

.pagination-link--long:active {
    padding-left: 128px;
    padding-right: 128px;
    transition: all;
}

.features__item-link {
    display: inline-block;
    margin: 0px;
    list-style: none;
    padding: 0px 55px;
    line-height: 50px;
}

.services__item-link {
    display: inline-block;
    padding: 0px 40px;
    line-height: 51px;
}

.contacts__link {
    display: inline-block;
    padding: 0px 40px;
    line-height: 51px;
    box-sizing: border-box;
}

.item-link--green {
    background-color: var(--basic-green);
    box-sizing: border-box;
}

.item-link--green:hover {
    background-color: #00bc6c;
    transition-duration: 0.2s;
}

.item-link--green:focus {
    background-color: #00aa62;
}

.item-link--yellow {
    background-color: var(--basic-yellow);
    box-sizing: border-box;
}

.item-link--yellow:hover {
    background-color: #eab534;
    transition-duration: 0.2s;
}

.item-link--yellow:focus {
    background-color: #e5a722;
}

.modal__user-btn {
    padding: 17px 83px 15px;
    box-sizing: border-box;
}

.modal__user-btn--close {
    display: inline-block;
    opacity: 0.3;
}

.modal__user-btn--close:hover {
    opacity: 1;
    transition-duration: 0.2s;
}

.modal__user-btn--close:focus {
    opacity: 0.1;
}
/* Buttons end */

/* Grid */
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    align-content: start;
}

.services__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 30px;
    margin-right: 50px;
}

.catalog-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Flex */

.header__inner {
    display: flex;
    width: 1160px;
    flex-direction: row;
    align-items: center;
    padding: 60px 0px 0px;
}
/* !!!!!!!!!!!!!!!!LOGO!!!!!!!!!!!!!!!!! */
/* .header__logo-img:hover {
    fill: red;
}

.header__logo-link:focus {
    fill: red;
} */

.main-nav {
    margin-left: 179px;
}

.main-nav__site-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 11px;
    margin-right: 221px;
}

.main-nav__user-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 11px;
}

.main-nav__site-item {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-left: 22px;
    padding-right: 24px;
}

.main-nav__user-item {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--basic-extra-light);
    border-bottom: 2px solid var(--basic-extra-light);
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 40px;
    margin-bottom: 80px;
}

.contacts {
    margin-bottom: 68px;
}

.contacts .wrapper {
    display: flex;
}

.contacts__content {
    display: flex;
    margin: 54px 0px;
    flex-direction: column;
    box-sizing: border-box;
}

.footer__inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.filter-show__fieldset,
.filter-show__fieldset-radio,
.filter-show__fieldset-checkbox {
    margin: 0px;
    padding: 0px;
    border: none;
}

.filter-show__price-controls {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.filter-sort {
    display: flex;
    justify-content: space-between;
}

.filter-sort__list,
.filter-sort__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.filter-sort__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 14px;
    line-height: 18px;
}

.filter-sort__controls {
    margin-right: 11px;
}

.filter-sort__control {
    margin: 0;
    padding: 0;
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    width: 770px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: 23px;
}

.gallery__item {
    margin: 0px;
    padding: 0px;
    margin-right: 42px;
    margin-bottom: 32px;
}

.gallery__item:nth-child(2n) {
    margin-right: 0px;
}

.gallery__link {
    display: inline-block;
}

.gallery__pagination-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: 60px;
}

.gallery__pagination-link {
    margin-right: 11px;
}

.modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    padding: 63px 99px 84px 100px;
    box-sizing: border-box;
    z-index: 5;
}

.modal__user-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

/* ==================================== Index ==================================== */

/* Header start */
.main-header,
.features,
.page__header {
    background-color: var(--basic-extra-light);
}

.header__logo-link {
    display: inline-block;
}
/* Header end */

/* Main-navigation start */
.main-nav,
.main-nav__user-list {
    color: var(--basic-black);
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}
.main-nav__site-link {
    display: inline-block;
    padding: 16px 0px 13px;
}
.main-nav__site-link:hover,
.main-nav__user-link:hover,
.product-card__link:hover {
    color: var(--special);
    transition-duration: 0.2s;
}

.main-nav__site-link:focus,
.main-nav__user-link:focus,
.product-card__link:focus {
    color: var(--basic-neutral);
}

.main-nav__user-link {
    display: block;
    padding-left: 40px;
    position: relative;
}

.main-nav__user-link::before {
    content: url(../img/header-cart.svg);
    width: 15px;
    height: 11px;
    position: absolute;
    left: 0px;
}

.site-link--active {
    position: relative;
}

.site-link--active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--special);
    left: 0px;
    bottom: 0px;
}
/* Main-navigation end */

/* Slider start */
.features {
    margin-bottom: 80px;
    position: relative;
}

.features__togglers {
    display: flex;
    position: absolute;
    width: 88px;
    left: calc(50% - 49px);
    bottom: 96px;
}

.slide-1 {
    padding-top: 72px;
    background-image: url(../img/slide-1.png);
    background-repeat: no-repeat;
    background-position-x: 397px;
    background-position-y: -6px;
    height: 425px;
}

.slide-2 {
    padding-top: 72px;
    background-image: url(../img/slide-2.png);
    background-repeat: no-repeat;
    background-position-x: 392px;
    background-position-y: 0px;
    height: 425px;
}

.slide-3 {
    padding-top: 72px;
    background-image: url(../img/slide-3.png);
    background-repeat: no-repeat;
    background-position-x: 397px;
    background-position-y: -6px;
    height: 425px;
}

.features__item-title {
    max-width: 523px;
    margin-top: 0px;
    margin-bottom: 27px;
}

.features__item-intro {
    margin-bottom: 40px;
}

.slide-1 .features__item-intro {
    padding-right: 50px;
    max-width: 368px;
}

.slide-2 .features__item-intro {
    padding-right: 50px;
    max-width: 408px;
}

.slide-3 .features__item-intro {
    padding-right: 50px;
    max-width: 370px;
}

.features__item {
    text-align: left;
    box-sizing: border-box;
}

.features__item-title {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

.features__item {
    display: none;
}

.features__toggler {
    display: block;
    width: 18px;
    height: 18px;
    font-size: 0;
    background-color: var(--basic-white);
    border-radius: 50%;
    margin-right: 17px;
}

.features__toggler:last-child {
    margin-right: 0px;
}

#feature-1:checked ~ .features__list .features__item:nth-child(1),
#feature-2:checked ~ .features__list .features__item:nth-child(2),
#feature-3:checked ~ .features__list .features__item:nth-child(3) {
    display: block;
}

#feature-1:checked ~ .features__togglers .features__toggler:nth-child(1),
#feature-2:checked ~ .features__togglers .features__toggler:nth-child(2),
#feature-3:checked ~ .features__togglers .features__toggler:nth-child(3) {
    background: url(../img/toggler-on.svg) 0 0 no-repeat;
    transition-duration: 0.3s;
}

.features__input {
    display: none;
}

/* Slider end */

/* Services start */
p {
    padding: 0;
}

.services {
    margin-bottom: 80px;
}

.services__item-img {
    margin-bottom: 19px;
}
.services__item-title {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 16px;
}

.services__item-text {
    margin-bottom: 32px;
    padding-right: 50px;
}

.services__item {
    max-width: 300px;
}
.services-1 {
    padding-right: 15px;
}

.services-3 {
    padding-right: 19px;
}
/* Services end */

/* About start */
.about__content {
    border-top: 2px solid var(--basic-extra-light);
    padding: 40px 0 75px;
}

.column-left {
    padding-top: 33px;
}

.about__title {
    max-width: 651px;
    color: var(--basic-black);
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 35px;
}

.about__intro {
    max-width: 646px;
    margin-top: 0;
    margin-bottom: 38px;
}

.about__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.about__list-item {
    padding: 0;
    margin: 0;
    padding-left: 35px;
    line-height: 24px;
    position: relative;
    margin-bottom: 24px;
}

.about__list-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--special);
    top: calc(50% - 1px);
    left: 0;
}

.about__list-item:last-child {
    margin-bottom: 0;
}

.column-right {
    padding-top: 0px;
    margin-right: -30px;
}

.about__img {
    margin-bottom: 12px;
}

tbody {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.about__table td {
    display: block;
    width: 120px;
    line-height: 18px;
    box-sizing: border-box;
}

.about__table sup {
    top: -16px;
    font-size: 51%;
}

.about__list-title,
.about__text {
    font-weight: 700;
    text-transform: uppercase;
}

.about__list-title {
    margin-bottom: 23px;
}

.about__text {
    padding-left: 19px;
    margin-bottom: 31px;
    color: var(--basic-black);
}

td:first-child {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    margin-bottom: 7px;
}
/* About end */

/* Partners start */

.partners__item {
    position: relative;
    padding-right: 48px;
}

/* Как псевдоэлементы расположить на одинаковом расстоянии от элементов */
.partners__item::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: var(--basic-extra-light);
    right: 0;
    top: 50%;
    margin-top: -26px;
}

.partners__item:last-child::after {
    display: none;
}

.partners__item-link {
    display: inline-block;
    opacity: 0.2;
}

.partners__item-link:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

.partners__item-link:focus {
    opacity: 0.1;
}

/* Pixel perfect */

.logo-htmlacademy {
    padding-top: 12px;
}

.logo-barbershop {
    margin-left: -3px;
    padding-top: 3px;
}

.logo-pink {
    margin-right: 27px;
    padding-top: 10px;
}

.logo-mishka {
    padding-top: 8px;
    margin-left: -2px;
}

/* Partners end */

/* Contacts start */
.contacts__content {
    width: 319px;
    background-color: var(--basic-white);
    padding: 50px 50px 47px 50px;
    text-align: left;
}

.contacts__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 23px;
}

.contacts__text {
    line-height: 18px;
    color: var(--basic-neutral);
    margin-top: 0px;
    margin-bottom: 38px;
}

.contacts {
    position: relative;
}

.contacts__content{
    z-index: 1;
}

.footer__map {
    border: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 416px;
    z-index: 0;
}

img .footer__social-icons {
    color: rgba(255, 255, 255, 0.3);
}

/* Contacts end */

/* Footer start */

.main-footer {
    padding-bottom: 77px;
}

.footer__social-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.footer__social-desc {
    color: var(--basic-dark-grey);
    line-height: 22px;
    margin: 6px 0px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    background-color: #e1e1e1;
    border-radius: 50%;
    color: #000000;
}

.footer__social-items {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-right: 129px;
}

.footer__social-item {
    margin: 0px;
    padding: 0px;
    margin-right: 9px;
}

.footer__social-link .footer__social-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__social-link:hover {
    background-color: #e74246;
    transition-duration: 0.2s;
}

.footer__social-link:focus {
    background-color: #d7373b;
}

.footer__social-link:focus path {
    fill: rgba(255, 255, 255, 0.3);
    transition-duration: 0.2s;
}
/* Footer end */

/* ==================================== Catalog ==================================== */

.page__title {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 110px;
    margin-top: 0px;
    margin-bottom: 55px;
    margin-right: 15px;
}

/* Filter-show start */
.filter-show__range-field {
    width: 260px;
    margin-top: 48px;
}

.filter-show__range-controls .filter-show__scale {
    height: 2px;
    background-color: #d7dcdf;
}

.filter-show__range-controls .filter-show__bar {
    width: 138px;
    height: 2px;
    background: var(--basic-green);
}

.filter-show__range-controls {
    position: relative;
    height: 80px;
    background-color: var(--basic-extra-light);
    border-radius: 3px;
    margin-bottom: 14px;
    padding-top: 39px;
    padding-right: 33px;
    padding-left: 22px;
    box-sizing: border-box;
}

.filter-show__range-controls .filter-show__toggle {
    position: absolute;
    top: 31px;
    width: 4px;
    height: 4px;
    padding: 2px;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
    box-sizing: border-box;
}

.filter-show__range-controls .toggle-min {
    left: 18px;
}

.filter-show__range-controls .toggle-max {
    left: 160px;
}

.filter-show__price-controls input {
    font-size: 17px;
    width: 80px;
    height: 38px;
    margin-left: 11px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
}

.filter-show__price-controls input {
    padding-left: 15px;
}

.filter-show__fieldset-radio {
    margin-bottom: 28px;
}

.filter-show__fieldset-checkbox {
    margin-bottom: 30px;
}

.filter-show__fieldset {
    margin-bottom: 55px;
}

/* Radio */
.filter-show__legend {
    margin-bottom: 13px;
}

.filter-show__legend:last-child {
    margin-bottom: 0;
}

.filter-show__label-radio {
    display: flex;
    margin-bottom: 16px;
}

.filter-show__radio {
    display: none;
}

.filter-show__radio-input {
    padding-right: 36px;
    position: relative;
}

.filter-show__radio-input::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background: url(../img/radio-off.svg) 0 0 no-repeat;
    opacity: 0.4;
    cursor: pointer;
}

.filter-show__radio:hover + .filter-show__radio-input::before {
    opacity: 1;
}

.filter-show__radio:checked + .filter-show__radio-input::before {
    background: url(../img/radio-on.svg) 0 0 no-repeat;
    transition: 0.3s;
}

/* Checkbox */
.filter-show__label-checkbox {
    display: flex;
    margin-bottom: 16px;
}

.filter-show__checkbox {
    display: none;
}

.filter-show__checkbox-input {
    padding-right: 36px;
    position: relative;
}

.filter-show__checkbox-input::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background: url(../img/checkbox-off.svg) 0 0 no-repeat;
    opacity: 0.4;
    cursor: pointer;
}

.filter-show__checkbox:hover + .filter-show__checkbox-input::before {
    opacity: 1;
}

.filter-show__checkbox:checked + .filter-show__checkbox-input::before {
    background: url(../img/checkbox-on.svg) 0 0 no-repeat;
    transition: 0.3s;
}

.filter-show__btn {
    display: inline-block;
    color: var(--basic-black);
    font-weight: 700;
    padding: 0px 87px;
    line-height: 55px;
    background-color: var(--basic-extra-light);
}
/* Filter-show end */

/* Filter-sort start */
.filter__column-right {
    margin-left: 10px;
}

.filter-sort {
    margin-bottom: 48px;
}

legend,
.filter-sort__legend {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-sort__legend {
    margin: 0px 242px 0px 0px;
}

.filter-sort__item {
    margin: 0px;
    padding: 0px;
    margin-right: 25px;
}

.filter-sort__link {
    text-transform: uppercase;
    opacity: 0.3;
}

.filter-sort__link:hover {
    opacity: 0.6;
    transition-duration: 0.2s;
}

.filter-sort__link:focus {
    opacity: 1;
}

.sort--active {
    opacity: 1;
}

.control-down {
    display: block;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-top: 11px solid #a6a6a6;
    opacity: 0.3;
    margin-right: 18px;
}

.control-up {
    display: block;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-bottom: 11px solid #a6a6a6;
    opacity: 0.3;
}

.control-down:hover,
.control-up:hover {
    border-bottom-color: #a6a6a6;
    border-top-color: #a6a6a6;
    opacity: 1;
    transition-duration: 0.2s;
}

.control-down:focus,
.control-up:focus {
    border-bottom-color: #231f20;
    border-top-color: #231f20;
    opacity: 1;
}

.control--active {
    border-bottom-color: #231f20;
    border-top-color: #231f20;
    opacity: 1;
}
/* Filter-sort end */

/* Gallary start */
.product-card {
    display: flex;
    overflow: hidden;
    width: 358px;
    height: 618px;
    background-color: rgba(77, 77, 77, 0.12);
    position: relative;
    cursor: pointer;
}

.product-card__img {
    position: absolute;
    bottom: 4px;
}

.product-card::after {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--basic-white);
    position: absolute;
    top: 13px;
    left: 16px;
    box-shadow: 23px 0 0 0 var(--basic-white), 46px 0 0 0 var(--basic-white);
}

.product-card:hover {
    background-color: rgba(77, 77, 77, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition-duration: 0.2s;
}

.product-card__content {
    position: absolute;
    width: 358px;
    padding: 28px 53px 44px;
    text-align: center;
    bottom: 0px;
    transform: translateY(100%);
    transition: all 0.7s;
    background-color: var(--basic-extra-light);
    box-sizing: border-box;
}

.product-card__title {
    text-transform: uppercase;
    margin: 0px 0px 17px 0px;
}

.product-card__intro {
    margin-top: 0;
    margin-bottom: 34px;
    line-height: 18px;
}

.product-card:hover .product-card__content {
    transform: translateY(0);
}

.product-card__price {
    display: inline-block;
    padding: 0px 60px;
    line-height: 50px;
}
/* Gallary end */

/* Modal start */
.modal {
    background-color: var(--basic-white);
    color: var(--basic-black);
    font-weight: 700;
    position: absolute;
    margin-left: 240px;
    position: fixed;
    display: none;
}

.modal-show {
    display: flex;
    margin-top: 70px;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal__item label {
    display: block;
    margin-bottom: 9px;
}

.modal__title {
    font-size: 45px;
    line-height: 53px;
    margin: 0px 0px 37px 0px;
}

.modal__item input {
    width: 360px;
    padding: 16px;
    margin-bottom: 34px;
}

.modal__item textarea {
    width: 760px;
    height: 118px;
    padding: 16px;
    margin-bottom: 47px;
}

.modal__item input,
.modal__item textarea {
    border: 2px solid #d7dcde;
    border-radius: 3px;
    line-height: 18px;
    box-sizing: border-box;
}

.modal__item input::placeholder,
.modal__item textarea::placeholder {
    color: #444444;
    opacity: 0.5;
}

.modal__item:hover input,
.modal__item:hover textarea {
    border-color: #b4b9bb;
}

.modal__item input:focus::placeholder,
.modal__item textarea:focus::placeholder {
    opacity: 1;
    border-color: #444444;
}

input:invalid {
    border-color: red;
}
/* Modal end */

/* Animations */

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
